<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eduvibe</title>
    <link rel="icon" href="{{ url_for('static',filename='icon.png')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style3.css')}}">

</head>

<body>
    <nav class="navbar">
        <div class="logo"><img src="{{ url_for('static',filename='icon.png')}}" class="l">EduVibe</div>
        <ul class="nav-links">
            <li><a href="code.html"><img src="{{ url_for('static',filename='home.jpg')}}"class="h"> Home</a></li>
            <li><a href="about.html"><img src="{{ url_for('static',filename='about1.jpg')}}" class="h">About</a>
            </li>
            <li><a href="courses.html"><img src="{{ url_for('static',filename='courses.jpg')}}"
                        class="h">Courses</a></li>
            <li><a href="login.html"><img src="{{ url_for('static',filename='login1.jpg')}}" class="h">Login</a>
            </li>
        </ul>
    </nav>

    <div class="login">
        <div class="txt">
            <br><br>
            <center>
                <p class="three">ABOUT</p>
                <p class="two">ABOUT US</p>
        </div>
        </center>
    </div>-->
    {% extends "layout.html" %}
    {% block body %}
    <pre> 




       </pre>


    <div class="about">
        
        
        <h1>Welcome to EduVibe</h1>
        <p>
            At EduVibe, we believe in accessible, innovative learning experiences that adapt to your
            schedule and learning style. Join us in embracing the future of education and unlock your
            potential with our immersive online courses.
        </p>
        <p>Welcome to EduVibe, where learning knows no boundaries. Our mission
            is to empower individuals worldwide through accessible and innovative education. Here's what
            sets us apart:</p>

        <h3>Our Vision</h3>
        <p>At EduVibe, we envision a world where learning is accessible to everyone,
            regardless of their location, background, or circumstances. We strive to break barriers and make
            education a transformative and inclusive experience for all.</p>

        <h3>A Commitment to Excellence</h3>
        <p> We are dedicated to providing top-quality education. Our team collaborates with
            industry experts and educators to curate courses that meet the highest standards, ensuring our
            learners receive valuable and up-to-date knowledge.</p>

        <h3>Empowering Learners</h3>

        <p>We believe in the transformative power of education. EduVibe is
            designed to empower individuals to pursue their passions, advance their careers, and acquire new
            skills in a dynamic and supportive environment.</p>

        <h3>Innovation in Learning</h3>

        <p>Embracing technology, we offer innovative learning methods and tools. From
            interactive modules to live sessions, we're committed to providing a cutting-edge learning
            experience that fosters engagement and knowledge retention.</p>

        <h3>Community-Centric Approach</h3>

        <p> EduVibe is more than just courses; it's a vibrant community. We
            encourage collaboration, discussion, and knowledge sharing among learners, fostering an
            environment of growth and camaraderie.</p>

        <h3>Diverse and Inclusive Education</h3>

        <p>We celebrate diversity in perspectives, cultures, and ideas. Our diverse course
            offerings cater to various interests and skill levels, ensuring that everyone finds a learning
            path that resonates with them.</p>

        <h3>Continuous Improvement</h3>

        <p>We are always evolving. Feedback from our learners helps us continually enhance our
            platform, ensuring it remains dynamic, responsive, and aligned with the evolving needs of our
            users.</p>

        <p>Thank you! for being a part of EduVibe. Together, let's embark on a
            journey of lifelong learning and growth.</p>

    </div>
    <pre>



                </pre>

    <!-- <footer>
        <div class="footer-container">

            <div class="footer-section">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="#">About Us</a></li><br>
                    <li><a href="#">Contact Us</a></li><br>
                    <li><a href="#">Privacy Policy</a></li><br>
                    <li><a href="#">Terms & Condition</a></li><br>
                    <li><a href="#">FAQs & Help</a></li>
                </ul>
            </div>
            <div class="footer-section">

                <h2>Contact</h2>
                <p><img src="https://i.pinimg.com/736x/c2/fa/17/c2fa17bc1ac310c010abf6283cdb52ce.jpg" class="i">
                    &nbsp;&nbsp;Chitkara University, Rajpura, Punjab</p>
                <p><img src="https://e7.pngegg.com/pngimages/54/563/png-clipart-mobile-phones-telephone-call-logo-others-miscellaneous-text-thumbnail.png"
                        class="i">&nbsp;&nbsp;+91 93508 77832</p>
                <p><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDLZ0uLMoPnrKlsl9HYAHYDM3obnmZRL7X6jN3KpRHYXUcE3Y927zQ-epomz9XuNT91hQ&usqp=CAU"
                        class="i">&nbsp;&nbsp;eduvibe@gmail.com</p>
                <ul class="social-icons">
                    <li><a href="#"></i></a></li>
                    <li><a href="#"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXeFK2NtY-Ljhq7Fo_sAhlGNjWABnNFVaWIQ&s"
                                class="j"></a></li>&nbsp;&nbsp;
                    <li><a href="#"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJeJlx-HEr29YIB4b0GVBxDSAEEmQnRNFcMQ&s"
                                class="j"></a></li>&nbsp;&nbsp;
                    <li><a href="#"><img
                                src="https://cdn.exchangewire.com/wp-content/uploads/2018/03/instagram-logo-e1589969351425.jpg"
                                class="j"></a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h2>Subscribe to our Newsletter</h2>
                <p>Subscribe now and join our growing community of learners committed to lifelong education!</p>
                <form>
                    <input type="email" placeholder="Your email">
                    <button type="submit">Subscribe</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <p>&copy; EduVibe, All Rights Reserved.</p>
        </div>
    </footer>
 </body>

</html>  -->
{% endblock %}